@{
    ViewData["Title"] = "Wait List";
}

@model List<FormResponse>

@*cool boostrap*@
<table class="table table-bordered table-striped table-hover">
    <thead class="font-weight-bold">
        <tr>
            <td> Category </td>
            <td> Title </td>
            <td> Year </td>
            <td> Director </td>
            <td> Rating </td>
            <td> Edited </td>
            <td> Lent To </td> 
            <td> Notes </td>

        </tr>
    </thead>
    @*Load em up*@
    <tbody>
        @foreach (var x in Model)
            {
            <tr>
                <td>@x.Category.CategoryName</td>
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.Notes</td>

                @*options*@
                <td><a asp-controller="Home" asp-action="Edit" asp-route-appid="@x.AppID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-appid="@x.AppID">Delete</a></td>
            </tr>
            }
    </tbody>
</table>
